<html>
    <head>
        <title>Proyecto Notas</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Notas!</p>
            <nav>
                <li>
                    <a href="/"> Home</a>
                </li>
                <li>
                    <a href="/notas/crear">Crear Notas</a>
                </li>
                <li>
                    <a href="/notas">Ver Notas</a>
                </li>
            </nav>
        </header>